@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


.pageBackground {
  background-color: #cbc7c7;
  min-height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.swiper {
  border: solid black 3px;
  display: flex;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.swiper:hover {
  transform: scale(1.1);
}

.cont {
  background-color: rgba(255, 255, 255, 0.763);
  transition: transform 0.2s ease;
  box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.2);
}

.cont:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.A {

  transition: transform 0.2s ease;
}

.A:hover {
  transform: scale(1.1);
}


.R {

  transition: transform 0.2s ease;
}

.R:hover {
  transform: scale(1.1);
}

.gam {
  transition: transform 0.2s ease;
}

.gam:hover {
  transform: scale(1.1);
}


.layoutt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.isilayout {
  font-size: 15px;
  gap: 20px;
  margin-left: 70px
}

.inputt {
  margin-left: 150px
}

.isiInput {
  width: 400px;
  margin-right: 20px
}

.swiper {
  height: 300px;
  width: 500px;
  margin-right: 100px;
}

.title {
  display: flex;
  gap: 340px;
  margin-left: 110px;
  margin-top: 100px
}

.About {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 150px;
}

.divGambar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 200px
}




.divPaket {
  background-color: rgba(255, 255, 255, 0.836);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.divPaket :hover {
  font-weight: 500;
  transform: scale(1.05);

}

.contentt {
  background-color: rgba(255, 255, 255, 0.562);
  padding: 130px;
  box-shadow: 50px 30px 30px rgba(0, 0, 0, 0.15);
  margin-top: 90px;
}

.fashion2 {
  box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.2);
}

.cardService {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.cardService :hover {
  font-weight: 500;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.cardContact {
  border: solid black 2px;
  background-color: rgba(255, 255, 255, 0.425);
}

.linkApp {
  color: black;
  cursor: pointer;
}

.testiCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);

}

.testiCard :hover {
  font-weight: 500;
  transform: scale(1.05);

}

.footerr {
  display: flex;
  background-color: black;
  margin-top: 150px;
  padding: 80px
}

.footerText {
  color: white;
  font-size: 30px;
  font-Weight: 700
}


.isiFooter {
  display: flex;
  gap: 200px
}


@media (max-width: 768px) {

  .isiFooter{
    gap: 10px;
  }


  .footerText {
    font-size: 10px;
  }



  .isilayout {
    font-size: 15px;
    gap: 50px;
    color: white;
  }

  .footerr {
    padding: 10px;
  }

  .inputt {
    display: flex;
    margin-left: 10px;
  }

  .isiInput {
    width: 100px;

  }

  .firstText {
    font-size: 30px;
  }

  .swiper {
    width: 300px;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    gap: 150px;
    margin-top: 100px
  }

  .About {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px
  }

  .divGambar {
    gap: 50px;
  }

}